*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  --rad-l: 10px;
  --rad-m: 5px;

  /* Default block size */

  --block-size: 24px;

  /* Default board size */

  --board-w: calc(var(--block-size) * 15);
  --board-h: calc(var(--block-size) * 25);

  /* Basic colors */

  --clr-bg: #f1f1f1;
  --clr-card: white;
  --clr-font: #494751;
  --clr-shadow: #acb2c2;

  /* Button colors */

  --clr-btn-bg: #e6e6e6;
  --clr-btn-border: lightgray;
  --clr-btn-hover: gold;
  --clr-btn-active: goldenrod;

  /* Block colors */

  --clr-block-border: #474747;
  --clr-block-1: #ff9389;
  --clr-block-2: #ffe866;
  --clr-block-3: #6ee690;
  --clr-block-4: #95cffc;
  --clr-block-5: #d5aff5;

  /* Board background colors */

  --clr-block-0: #00000005;
  --clr-board-bg: #efecf8;

  /* Overflow */

  --clr-overflow-line: #ff000033;

  color-scheme: light dark;
}

body.dark-theme {
  /* Basic colors */

  --clr-bg: #1a202c;
  --clr-card: #3a4556;
  --clr-font: #e1f7f6;
  --clr-shadow: #1a202c;

  /* Button colors */

  --clr-btn-bg: #4a5568;
  --clr-btn-border: gray;
  --clr-btn-hover: #0d8878;
  --clr-btn-active: #11b8a2;

  /* Block colors */

  --clr-block-border: #afafaf;
  --clr-block-1: #aa342a;
  --clr-block-2: #8d7a0d;
  --clr-block-3: #1c7910;
  --clr-block-4: #125a91;
  --clr-block-5: #6b29a1;

  /* Board background colors */

  --clr-block-0: #ffffff05;
  --clr-board-bg: #37353f;

  /* Overflow */

  --clr-overflow-line: #00ffc833;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-font);
}

.app {
  padding: 10px 0;
}

.hidden {
  visibility: hidden;
}

/* Interface */

.game-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  border-radius: var(--rad-l);
  background-color: var(--clr-card);
  box-shadow: 1px 1px 4px 1px var(--clr-shadow);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  width: 150px;
}

.next-shape-container {
  width: calc(var(--block-size) * 4);
  height: calc(var(--block-size) * 4);
  border-radius: var(--rad-m);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-board-bg);
}

.help-container {
  font-size: 0.75rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.btn {
  padding: 10px 0;
  background-color: var(--clr-btn-bg);
  border: 1px solid var(--clr-btn-border);
  border-radius: var(--rad-m);
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--clr-btn-hover);
}

.btn:active {
  background-color: var(--clr-btn-active);
}

/* Game board */

.game-board-container {
  position: relative;
}

.game-board {
  width: var(--board-w);
  height: var(--board-h);
  background-color: var(--clr-board-bg);
  border-radius: var(--rad-m);
}

/* Block */

.blocks-row {
  position: absolute;
  transition: 0.8s ease-in;
}

.block {
  position: absolute;
  width: var(--block-size);
  height: var(--block-size);
  border: 2px solid var(--clr-block-border);
  border-radius: var(--rad-m);
}

.block-0 {
  border-color: var(--clr-block-0);
}
.block-1 {
  background-color: var(--clr-block-1);
}
.block-2 {
  background-color: var(--clr-block-2);
}
.block-3 {
  background-color: var(--clr-block-3);
}
.block-4 {
  background-color: var(--clr-block-4);
}
.block-5 {
  background-color: var(--clr-block-5);
}

/* Shape */

.shape-container {
  position: absolute;
}

.shape {
  position: absolute;
}

/* Overflow line */

.overflow-line {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(var(--block-size) * 4);
  border-bottom: 2px solid var(--clr-overflow-line);
}

/* Checkbox control */

.checkbox-control {
  position: absolute;
  top: calc(var(--block-size) / 2 - 2px);
  left: calc(var(--block-size) / 2 + 4px);
  width: calc(var(--block-size) * 1.67);
  height: calc(var(--block-size) + 4px);
  background-color: #d6aff55d;
  border-radius: 15px;
}

.checkbox {
  appearance: none;
}

.checkbox::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1px solid gray;
  border-radius: 50%;
  width: var(--block-size);
  height: var(--block-size);
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.checkbox:checked::before {
  transform: translateX(12px);
  background-color: #212533;
}

/* Pop-up */

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32323280;
}

.results {
  width: 200px;
  height: 200px;
  padding: 20px 20px;
  background-color: var(--clr-card);
  border-radius: var(--rad-l);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-frame {
  padding: 10px 0 20px 20px;
}

/* Animation */

@keyframes pause {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.pause-animation {
  animation: pause 0.8s infinite;
}
